<!-- Preloader -->
<div class="preloader">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="spinner-logo">
        {{ $preloader := .Site.Params.preloader }}
        <!-- <img src="{{ $preloader.logo | absURL }}" alt="{{ $preloader.alt | absURL }}" /> -->
        <div class="spinner-dot"></div>
        <div class="spinner spinner-line"></div>
      </div>
    </div>
  </div>
</div>
